# Ignore Node Modules
node_modules

# Ignore package-lock.json
package-lock.json

# Ignore npm cache
npm-cache

# Ignore yarn cache
yarn-cache

# Ignore bower cache
bower-cache

#Ignore files
.env
swagger.jsonbk

#Ignore coverage
coverage